.header {
  font-family: "Roboto Flex", sans-serif;
  position: absolute;
  padding: 30px 108px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  pointer-events: none;

  a,
  div {
    pointer-events: all;
  }

  .containerNavlist {
  }

  .icon {
    width: 74px;
    height: 56px;
    cursor: pointer;
  }

  .buttonWrite {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.1333px 20.2667px;
    background: #d9fd51;
    border-radius: 7.6px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: #000000;
    border: none;
    z-index: 1;
    gap: 5.25px;
    transition: all 0.35s linear;

    &:hover {
      background: #bdec0b;
    }

    .arrow {
      position: absolute;
      right: 110px;
      top: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 44px;
    padding-bottom: 26px;
    padding-left: 16px;

    .containerNavlist {
      display: none;
    }

    .buttonWrite {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) and (max-height: 720px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
