.container {
  font-size: 36px;
  line-height: 142%;
  font-stretch: 151;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 603, "XOPQ" 126, "YOPQ" 79, "YTLC" 530, "YTUC" 720, "YTAS" 750,
    "YTDE" -203, "YTFI" 738, "opsz" 64;
  font-weight: 580;
  letter-spacing: 0.02em;
  @media screen and (max-width: 768px) {
    justify-content: flex-start !important;
  }
}
