.vectors {
  .vector_1 {
    position: absolute;
    width: 522.71px;
    height: 461.28px;
    left: -13.6%;
    top: -106px;
    z-index: 23;
  }

  .vector_4 {
    position: absolute;
    width: 595.96px;
    height: 640.75px;
    top: -215.08px;
    right: 0;
    z-index: 21;
  }

  .vector_5 {
    position: absolute;
    width: 550px;
    height: 430px;
    left: -6.85%;
    top: -70px;
    z-index: 21;
  }

  .vector_6 {
    position: absolute;
    width: 510px;
    height: 600px;
    left: -12.4%;
    top: 156.54px;
    z-index: 20;
  }

  .vector_7 {
    position: absolute;
    width: 421.35px;
    height: 634.19px;
    right: 0;
    top: 158.48px;
    z-index: 20;
  }

  .vector_8 {
    position: absolute;
    width: 621.93px;
    height: 565.06px;
    right: 0;
    top: 558.8px;
    z-index: 19;
  }

  .vector_9 {
    position: absolute;
    width: 500px;
    height: 520.56px;
    left: 33.26%;
    top: 650px;
    z-index: 18;
  }

  .vector_10 {
    position: absolute;
    width: 491.71px;
    height: 586.82px;
    left: 99.65%;
    top: 571.15px;
  }

  .vector_11 {
    position: absolute;
    width: 491.71px;
    height: 500px;
    left: 3%;
    top: 132.75px;
    z-index: 18;
  }

  .vector_12 {
    position: absolute;
    width: 433.93px;
    height: 534.11px;
    left: 8%;
    top: 450px;
    z-index: 17;
  }

  .vector_13 {
    position: absolute;
    width: 598.5px;
    height: 550.3px;
    left: 22%;
    top: -30px;
    z-index: 13;
  }

  .vector_14 {
    position: absolute;
    width: 540px;
    height: 630.65px;
    left: 50%;
    top: 0;
    z-index: 11;
  }

  .vector_15 {
    position: absolute;
    width: 562.66px;
    height: 486.26px;
    z-index: 10;
    left: 43.47%;
    top: 425.7px;
  }

  .vector_16 {
    position: absolute;
    width: 433.93px;
    height: 534.11px;
    left: 55%;
    top: -146px;
    z-index: 1;
  }

  .vector_17 {
    position: absolute;
    width: 549.84px;
    height: 662.63px;
    left: 20%;
    top: 175.98px;
  }
}
